<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>List of cats</title>
</head>
<%- include('../partials/nav.ejs') %>
<body>
    <h1>Cats! Cats! Cats!</h1>
    <ul>
        <% cats.forEach(cat => { %>
         <li><a href="/cats/<%= cat._id %>"><%= cat.name %></a></li>
        <% }) %>
    </ul>
</body>
</html>